body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(66, 63, 65);
    color: whitesmoke;
  }

  .submitBTN{
    height: 30px;
    width: 120px;
    border-radius: 3px;
    border: 2px solid black;
    background-color: aliceblue;
    color: black;
  }

  .buttonBTN{
    height: 30px;
    width: 120px;
    border-radius: 3px;
    border: 2px solid black;
    background-color: aliceblue;
    color: black;
  }

  label {
    font-weight: bold;
  }
  .card:nth-child(even) {
    font-size: 10px;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #eaf03a;
    color:#2b67c2;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
}   
  .card:nth-child(odd) {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    background-color: #2b67c2;
    color: #eaf03a;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
}  
  .card:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .card > div {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card > div > a {
    color: rgb(195, 17, 46);
    font-weight: bold;
  }
  
  h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
  }
  
  .card .list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: auto;
    max-width: 100%;
  }
  
  .card .list .main-list {
    margin: top 10px,bottom 0px,left 0px,right 0px;
  }
  
  .card .list .main-list:hover {
    transform: scale(0.9);
    direction: unset;
  }
  
  .card .list img {
    display: flex;
    min-width: 40px;
    min-width: 40px;
    border-radius: 10px;
  }
  
  .main-list > .play-name {
    margin: 10px 0;
    text-align: center;
  }

  .main-img {
    text-align: center;
    max-width: 30%;
    max-width: 30%;
    margin: auto;
    display: block;
    border-radius: 50px;
  }
  
  .main-list > .play-name > a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(41, 60, 48);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.8px;
  }
  
  .all-name {
    padding: 5px;
    color: brown;
    letter-spacing: 2px;
  }

.card:nth-child(even) .artist-name {
    color: #2b67c2;
  }
  
  .card:nth-child(odd) .artist-name {
    color: #eaf03a;
  }
  
  .track-name {
    font-size: 13px;
    color: black
  }
  
  .list > li {
    padding: 5px;
    font-size: 14px;
  }
  
  ol::-webkit-scrollbar {
    display: none;
  }
  