body {
  background-color: black;
}

.genre-card {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  margin: auto;
  background-color: #525151;
  color: white;
}

.genre-card > .main-image {
  width: 100%;
  margin: auto;
  border: 5px dotted black;
  border-radius: 10px;
  transition: width 2s, height 2s, background-color 2s, rotate 2s;
}

.genre-card > .main-image:hover {
  transform: scale(1.0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  rotate: 360deg;
}

.genre-card:not(:last-child) {
  margin-bottom: 15px;
}

.genre-card > div {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.genre-card > div > h2 {
  text-align: center;
  color: rgb(255, 255, 255);
}

.genre-card > div > a {
  color: white;
  font-weight: bold;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-width: 100%;
}

li {
  transition: all .2s ease-in-out;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  height: auto;
}

li:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

ol #tracks{
  background-color: rgb(212, 204, 204);
  color: black;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  width: auto;
  height: auto;
}

ol #tracks a {
  text-decoration: none;
  color: black;
}