name {
  font-weight: bold;
  font-style: italic;
}

* {
  display: block;
  text-align: center;
}

originalName{
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
}

oldName{
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: aqua;
}
